/* @import url(https://fonts.google.com/specimen/Roboto#how-to-use); */
*{
    margin: 0;
    padding: 0;
}
.border{
    border: 2px solid red;
    margin: 3px;

}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
}

/* SVG color convert into white */
.invert{
    filter:invert(1) ;
}

.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}

.p-1{
    padding-top: 14px;
}